{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Carregando o CSS base e adicionando a estilização customizada do gestor -->
    <link rel="stylesheet" href="{% static "gestor/css/base_gestor.css" %}">
    {% block dark-mode-vars %}
        <link rel="stylesheet" href="{% static "gestor/css/dark_mode_gestor.css" %}">
        <script src="{% static "gestor/js/theme_gestor.js" %}"></script>
    {% endblock %}

    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "gestor/css/rtl_gestor.css" %}">
    {% endif %}
    {% block responsive %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "gestor/css/responsive_gestor.css" %}">
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">
    {% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
<a href="#content-start" class="skip-to-content-link">{% translate 'Skip to main content' %}</a>

<div id="container">
    <!-- Header personalizado para o gestor -->
    {% block header %}
    <header id="header">
        <div id="branding">
            <h1>{% block branding %}Gestão de Competências{% endblock %}</h1>
        </div>
        {% block usertools %}
        {% if user.is_authenticated %}
        <div id="user-tools">
            <span>{% translate 'Bem-Vindo,' %} <strong>{{ user.get_short_name }}</strong>.</span>
            <form id="logout-form" method="post" action="{% url 'gestor:logout' %}">
                {% csrf_token %}
                <button type="submit">{% translate 'Sair' %}</button>
            </form>
        </div>
        {% endif %}
        {% endblock %}
    </header>
    {% endblock %}
    
    <div class="main" id="main">
        <!-- Conteúdo Principal -->
        <main id="content-start" class="content" tabindex="-1">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}

            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block content_title %}
                    <h1>{% block page_heading %}{% endblock %}</h1>
                {% endblock %}
                {% block content %}
                    {{ content }}
                {% endblock %}
                <br class="clear">
            </div>
        </main>
    </div>
    
    <footer id="footer">{% block footer %}{% endblock %}</footer>
</div>

<!-- SVGs para ícones usados no modo escuro e temas -->
<svg xmlns="http://www.w3.org/2000/svg" class="base-svgs">
    <symbol viewBox="0 0 24 24" width="1rem" height="1rem" id="icon-sun">
        <path d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
    </symbol>
</svg>
</body>
</html>
