{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/login.css" %}">
    <style>
        /* Estilos personalizados */
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f8f9fa; /* Fundo da página */
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Mudança da cor da barra superior */
        #header {
            background-color: #b30000; /* Vermelho no lugar do azul */
        }

        .login-container {
            width: 100%;
            max-width: 400px;
            padding: 20px;
        }

        .login-box {
            background-color: #ffffff; /* Cor de fundo do quadrado de login */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
            text-align: center;
        }

        h2 {
            color: #b30000; /* Vermelho */
            margin-bottom: 20px;
        }

        .login-box img {
            max-width: 40%; /* Aumente ou diminua a porcentagem conforme necessário */
            height: auto; /* Mantém a proporção da imagem */
            margin-bottom: 20px; /* Espaço abaixo da imagem */
        }

        .form-row {
            position: relative;
            margin-bottom: 30px;
            text-align: left;
        }

        .form-row input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background: none;
            border: none;
            border-bottom: 2px solid #b30000;
            outline: none;
            color: #333;
            margin-bottom: 10px;
        }

        .submit-row input {
            background-color: #b30000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background 0.3s ease;
            width: 100%;
        }

        .submit-row input:hover {
            background-color: #800000;
        }

        .password-reset-link a {
            text-decoration: none;
            color: #b30000;
            font-size: 14px;
        }

        .password-reset-link a:hover {
            color: #800000;
        }

        .errornote {
            color: #b30000;
            margin-bottom: 20px;
        }

        /* Flexbox para centralizar o login */
        #content-main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block nav-sidebar %}{% endblock %}
{% block content_title %}{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}

{% block branding %}
<!-- Remove o título "Django administration" -->
{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% blocktranslate count counter=form.errors.items|length %}
    Please correct the error below.
{% plural %}
    Please correct the errors below.
{% endblocktranslate %}
</p>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">
        {{ error }}
    </p>
    {% endfor %}
{% endif %}

<div id="content-main">
    <div class="login-container">
        <div class="login-box">
            <!-- Adicione a imagem aqui -->
            <img src="{% static 'img/2.png' %}" alt="Logotipo Skills Enforce">
            <h2>Skills Enforce Login GESTORES</h2>

            {% if user.is_authenticated %}
            <p class="errornote">
            {% blocktranslate trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            {% endblocktranslate %}
            </p>
            {% endif %}

            <form action="{{ app_path }}" method="post" id="login-form">
                {% csrf_token %}
                <div class="form-row">
                    {{ form.username.errors }}
                    {{ form.username.label_tag }} {{ form.username }}
                </div>
                <div class="form-row">
                    {{ form.password.errors }}
                    {{ form.password.label_tag }} {{ form.password }}
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                <div class="password-reset-link">
                    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
                </div>
                {% endif %}
                <div class="submit-row">
                    <input type="submit" value="{% translate 'Log in' %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}